@font-face {
  font-family: 'Inter';
  src: local('Inter ThinBETA'), local('Inter-ThinBETA'),
    url('../fonts/Inter-ThinBETA.woff2') format('woff2'),
    url('../fonts/Inter-ThinBETA.woff') format('woff'),
    url('../fonts/Inter-ThinBETA.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter ExtraLightBETA'), local('Inter-ExtraLightBETA'),
    url('../fonts/Inter-ExtraLightBETA.woff2') format('woff2'),
    url('../fonts/Inter-ExtraLightBETA.woff') format('woff'),
    url('../fonts/Inter-ExtraLightBETA.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter LightBETA'), local('Inter-LightBETA'),
    url('../fonts/Inter-LightBETA.woff2') format('woff2'),
    url('../fonts/Inter-LightBETA.woff') format('woff'),
    url('../fonts/Inter-LightBETA.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter MediumItalic'), local('Inter-MediumItalic'),
    url('../fonts/Inter-MediumItalic.woff2') format('woff2'),
    url('../fonts/Inter-MediumItalic.woff') format('woff'),
    url('../fonts/Inter-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Medium'), local('Inter-Medium'),
    url('../fonts/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Bold'), local('Inter-Bold'),
    url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Black'), local('Inter-Black'),
    url('../fonts/Inter-Black.woff2') format('woff2'),
    url('../fonts/Inter-Black.woff') format('woff'),
    url('../fonts/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;

  color: rgb(255, 255, 255);
  font-family: 'Inter';
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:link,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* Container */
.container {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
}

/* Button */
button {
  border: 0;
  background-color: rgb(200, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'Inter';
  font-weight: 900;

  transition: background-color .4s ease;
}

button:hover {
  background-color: rgb(146, 0, 0);
}

button span {
  text-transform: uppercase;
  font-size: calc(10px + 14 * ((100vw - 320px) / 1600));
  font-weight: 900;
}

/* Discord icon */
.discord {
  display: block;
  width: 2.5rem;
  height: 2rem;
  position: absolute;

  transition: filter .4s ease;

  right: 1rem;
  bottom: 1rem;
}

.discord:hover {
  filter: invert(54%) sepia(67%) saturate(521%) hue-rotate(193deg) brightness(89%) contrast(89%);
}

.discord img {
  width: 100%;
  height: 100%;
}

/* Home */
.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-image: url('../img/bg_glow.png'), linear-gradient(rgb(24, 24, 29), rgb(24, 24, 29));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-content {
  padding-top: calc(46px + 36.63 * ((100vw - 320px) / 1600));
  padding-bottom: calc(116px + 160 * ((100vw - 320px) / 1600));
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.home-logo {
  display: block;
  width: calc(228px + 133 * ((100vw - 320px) / 1600));
  padding-bottom: calc(5px + 33.72 * ((100vw - 320px) / 1600));
}

.home-title {
  display: block;
  padding-bottom: calc(5px + 10 * ((100vw - 320px) / 1600));

  font-size: calc(24px + 56 * ((100vw - 320px) / 1600));
  font-weight: 900;
}

.home-subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: calc(14px + 21 * ((100vw - 320px) / 1600));
  font-weight: 100;
}

.home-content button {
  margin-top: calc(77px + 17 * ((100vw - 320px) / 1600));
  padding-top: calc(12px + 13 * ((100vw - 320px) / 1600));
  padding-right: calc(20px + 20 * ((100vw - 320px) / 1600));
  padding-bottom: calc(12px + 13 * ((100vw - 320px) / 1600));
  padding-left: calc(20px + 20 * ((100vw - 320px) / 1600));
}

/* Login */
.login {
  width: 100vw;
  height: 100vh;
  position: relative;

  background-image: url('../img/bg_glow.png'), linear-gradient(rgb(24, 24, 29), rgb(24, 24, 29));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-content {
  width: 100%;
  height: 100%;
  padding-top: calc(12px + 36 * ((100vw - 320px) / 1600));
  padding-right: calc(24px + 90 * ((100vw - 320px) / 1600));
  padding-bottom: calc(12px + 36 * ((100vw - 320px) / 1600));
  padding-left: calc(24px + 90 * ((100vw - 320px) / 1600));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-logo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: calc(10px + 17 * ((100vw - 320px) / 1600));
}

.login-logo {
  display: block;
  width: calc(38.88px + 126.58 * ((100vw - 320px) / 1600));
}

.login-title-content {
  height: calc(35px + 65 * ((100vw - 320px) / 1600));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-title {
  font-size: calc(24px + 24 * ((100vw - 320px) / 1600));
  font-weight: 900;
}

.login-subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: calc(12px + 12 * ((100vw - 320px) / 1600));
  font-weight: 100;
}

.login-delimiter {
  content: '';
  display: block;
  width: 5px;
  height: calc(35px + 65 * ((100vw - 320px) / 1600));

  background-color: rgb(255, 0, 0);
}

.login-authorization {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  font-weight: 900;
}

.login-header .discord {
  position: static;

  width: calc(40px + 40 * ((100vw - 320px) / 1600));
  height: calc(30.96px + 30.97 * ((100vw - 320px) / 1600));
}

.login-entercode {
  width: calc(296px + 316 * ((100vw - 320px) / 1600));
  height: calc(122px + 191 * ((100vw - 320px) / 1600));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);
}

.entercode-title {
  padding-bottom: calc(19px + 27 * ((100vw - 320px) / 1600));

  font-size: calc(16px + 20 * ((100vw - 320px) / 1600));
  font-weight: 700;
  text-transform: uppercase;

  color: rgb(255, 0, 0);
}

.login-entercode form {
  display: flex;
  align-items: center;
}

.login-entercode form input {
  width: calc(22.17px + 34.83 * ((100vw - 320px) / 1600));
  height: calc(30.79px + 48.21 * ((100vw - 320px) / 1600));
  margin-right: calc(8.17px + 12.83 * ((100vw - 320px) / 1600));
  text-align: center;

  border: 3px solid rgba(255, 0, 0, 0.3);
  background: none;
  font-size: calc(16px + 20 * ((100vw - 320px) / 1600));
  font-weight: 900;
  color: rgba(255, 0, 0, 0.3);

  transition: all 0.1s linear;
}

.login-entercode form input:last-child {
  margin-right: 0;
}

.login-entercode form input:focus {
  color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
  outline: 0;
}

/* description */
.description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: calc(7px + 19 * ((100vw - 320px) / 1600));
  row-gap: calc(12px + 46 * ((100vw - 320px) / 1600));

  border-left: 15px solid rgb(255, 0, 0);
}

.description-title {
  width: auto;
  font-size: calc(18px + 18 * ((100vw - 320px) / 1600));
  font-weight: 700;
}

.description-text {
  width: auto;
  font-size: calc(9px + 9 * ((100vw - 320px) / 1600));
  font-weight: 700;
}

@media (max-width: 800px) {
  .login-logo-content {
    width: 100%;
  }

  .login-title-content {
    display: none;
  }

  .login-delimiter {
    display: none;
  }

  .login .discord {
    position: absolute;

    right: 1rem;
    bottom: 1rem;
  }

  .description {
    flex-direction: column;
    row-gap: 27px;
    align-items: center;
    margin-bottom: 50px;
  }
}

/* Shop */
.shop {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  background-image: url('../img/shop/wood.png'), linear-gradient(rgb(24, 24, 29), rgb(24, 24, 29));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;

  z-index: 111111;
}

.logo {
  width: calc(43px + 27 * ((100vw - 320px) / 1600));
  position: absolute;

  top: 65px;
  left: 13px;

  z-index: 11;
}

.shop .wallet {
  display: flex;
  column-gap: 8px;
  position: absolute;

  bottom: calc(20px + 34 * ((100vw - 320px) / 1600));
  left: 50%;
}

.header .burger {
  display: none;
  width: 32px;
  height: 21px;
  position: relative;

  cursor: pointer;
  border: none;
  background: none;
}

.header .burger span,
.header .burger span::before,
.header .burger span::after {
  display: inline-block;
  width: 100%;
  height: 3px;
  position: absolute;

  background-color: rgb(255, 255, 255);

  transition: all .4s ease-in-out;
}

.header .burger span {
  top: 50%;
  left: 0;

  /* transform: translateX(-50%); */
}

.header .burger span::before {
  content: '';

  top: -10px;
  left: 0;
}

.header .burger span::after {
  content: '';

  bottom: -10px;
  left: 0;
}

.burger.active span {
  background-color: transparent;
}

.burger.active span:before {
  top: 0;

  transform: rotate(135deg);
}

.burger.active span:after {
  top: 0;

  transform: rotate(-135deg);
}

.panel-links {
  height: 100%;
  padding: 0 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: calc(20px + 25 * ((100vh - 590px) / (1017 - 590)));
  position: absolute;

  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.99);
  background-color: rgb(24, 24, 29);

  top: 0;
  left: 0;

  z-index: 1;
}

.panel-links .link {
  display: flex;
  cursor: pointer;
  column-gap: 11px;

  opacity: .3;

  transition: opacity .3s linear;
}

.panel-links .link:hover {
  opacity: 1;
}

.panel-links .link span {
  display: none;
}

.shop-content {
  height: 100%;
  padding: 32px 45px 140px 145px;
}

.shop-category {
  padding: 51px 0 71px 73px;
  padding-top: calc(5px + 39 * ((100vw - 320px) / 1600));
  overflow: hidden;
}

.shop-category-items {
  display: flex;
  column-gap: 60px;
}

.shop-category-items a .name {
  display: none;
}

.shop-category-items a {
  color: rgba(255, 255, 255, 0.4);
  font-size: calc(12px + 12 * ((100vw - 320px) / 1600));

  transition: all .3s linear;
}

.shop-category-items a:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

.shop-category-switch {
  display: none;
}

.shop-slider {
  height: 100%;
  display: flex;
  padding: 0 75px;
  overflow: hidden;
  position: relative;
}

.shop-slider-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-slider-description {
  width: 40%;
}

.shop-slider-img {
  width: 45%;
  height: auto;
}

.shop-category-switch button,
.shop-slider-buttons button {
  position: absolute;
  width: 18px;
  height: 18px;

  border-top: 3px solid rgba(255, 255, 255, 0.2);
  border-left: 3px solid rgba(255, 255, 255, 0.2);
  background: none;
  cursor: pointer;

  top: 50%;
}

.shop-slider-buttons .prev {
  left: 0;

  transform: rotate(-45deg) translateX(50%);
}

.shop-slider-buttons .next {
  right: 0;
  top: 50%;

  transform: rotate(135deg) translateX(-5%) translateY(50%);
}

.description-count {
  position: absolute;

  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  font-weight: 300;

  top: 0;
  left: 75px;

  z-index: 11;
}

.description-count-2 {
  display: none;
}

.description-count-output {
  font-weight: 900;
}

.slider-description-content {
  display: flex;
  flex-direction: column;
  row-gap: calc(12px + 17 * ((100vw - 320px) / 1600));
}

.slider-description-content .name {
  font-size: calc(24px + 40 * ((100vw - 320px) / 1600));
  font-weight: 900;
  text-transform: uppercase;
}

.slider-description-content .buy {
  display: flex;
  column-gap: calc(7px + 15 * ((100vw - 320px) / 1600));
}

.slider-description-content .buy .button {
  padding-top: calc(12px + 13 * ((100vw - 320px) / 1600));
  padding-right: calc(12px + 82 * ((100vw - 320px) / 1600));
  padding-bottom: calc(12px + 13 * ((100vw - 320px) / 1600));
  padding-left: calc(12px + 82 * ((100vw - 320px) / 1600));

  font-size: calc(12px + 12 * ((100vw - 320px) / 1600));
  font-weight: 900;
}

.slider-description-content .buy .button img {
  display: none;
}

.slider-description-content .buy .price {
  padding-top: calc(12px + 13 * ((100vw - 320px) / 1600));
  padding-right: calc(12px + 8 * ((100vw - 320px) / 1600));
  padding-bottom: calc(12px + 13 * ((100vw - 320px) / 1600));
  padding-left: calc(12px + 8 * ((100vw - 320px) / 1600));

  font-size: calc(12px + 12 * ((100vw - 320px) / 1600));
  font-weight: 500;
  border: 3px solid rgba(200, 0, 0, 0.3);
  color: rgb(255, 0, 0);
}

.slider-description-content .text {
  font-size: calc(10px + 8 * ((100vw - 320px) / 1600));
  font-weight: 500;
  font-style: italic;
  color: rgb(200, 0, 0);
}

@media (max-width: 1024px) {
  .shop-slider {
    height: auto;
  }

  .shop-slider-content {
    padding-top: 60px;
    flex-direction: column-reverse;
    position: relative;
  }

  .shop-slider-description {
    width: 60%;
  }

  .slider-description-content .name {
    position: absolute;

    top: 0;
    left: 50%;

    transform: translateX(-50%);
  }

  .description-count {
    top: 63%;
    left: 20%;
  }

  .shop-slider-img {
    padding: 20px 0;
  }
}

@media (max-width: 800px) {
  .shop .header {
    padding-top: 24px;
    padding-right: calc(10px + 30 * ((100vw - 320px) / 295));
    padding-left: calc(10px + 30 * ((100vw - 320px) / 295));

    top: 0;
    left: 0;

    z-index: 11111;
  }

  .shop .header .logo {
    position: static;

    z-index: 1111;
  }

  .shop .header .wallet {
    position: static;
  }

  .shop .header .burger {
    display: block;

    z-index: 11111;
  }

  .shop .panel-links {
    width: 320px;
    height: 100%;
    align-items: start;
    overflow: hidden;

    box-shadow: none;

    transform: translateX(-100%);

    transition: transform .5s ease-in-out;

    z-index: 111;
  }

  .shop .panel-links::before {
    content: '';
    display: block;
    width: 60%;
    height: 120%;
    position: absolute;

    background-image: url('../img/panel_links_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    right: -30%;
    bottom: -15%;

    z-index: 1;

    transform: translateX(0);
  }

  .shop .panel-links .active {
    transform: translateX(0);
  }

  .shop .panel-links .link span {
    display: block;
  }

  .shop .panel-links.active {
    transform: translateX(0);
  }

  .shop-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 0;
    padding-right: calc(10px + 30 * ((100vw - 320px) / 295));
    padding-left: calc(10px + 30 * ((100vw - 320px) / 295));
  }

  .shop-category {
    width: 60%;
    padding: 0;
    position: relative;
    margin: 32px auto;
  }

  .shop-category-items {
    width: 100%;
    height: 30px;
    column-gap: 0;
    overflow: hidden;
    align-items: center;
  }

  .shop-category-items a {
    display: block;
    min-width: 100%;
    display: flex;
    column-gap: 5px;
    justify-content: center;
    font-weight: 400;
  }

  .shop-category-items a .name {
    display: block;
  }

  .shop-category-switch {
    display: block;
  }

  .shop-category-switch .prev {
    top: 25%;
    left: 0;

    transform: rotate(-45deg) translateY(50%) translateX(50%);
  }

  .shop-category-switch .next {
    top: 25%;
    right: 0;

    transform: rotate(135deg) translateY(50%) translateX(50%);
  }

  .shop-slider {
    width: 100%;
    padding: 0;
  }

  .shop-slider-description {
    width: 100%;
  }

  .slider-description-content {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column-reverse;
    row-gap: 53px;
  }

  .description-count {
    top: auto;
    bottom: 15%;
    left: 0;

    z-index: 1;
  }

  .description-count-1 {
    display: none;
  }

  .description-count-2 {
    display: flex;
    column-gap: 5px;
    align-items: center;

    font-size: 12px;
    font-weight: 500;
    color: rgb(255, 0, 0);
  }

  .slider-description-content .buy {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .slider-description-content .buy .button {
    padding: 12px;
  }

  .slider-description-content .buy .button img {
    display: block;
    width: 25px;
    height: 25px;
  }

  .slider-description-content .buy .button span {
    display: none;
  }

  .slider-description-content .buy .price {
    padding: 13px 0;
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

/* profile */
.profile {
  width: 100vw;
  height: 100vh;
  position: relative;

  background-image: url('../img/profile/bg.png'), linear-gradient(rgb(24, 24, 29), rgb(24, 24, 29));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-inner {
  width: 100%;
  height: 100%;
}

.profile-title {
  position: absolute;

  font-size: calc(24px + 40 * ((100vw - 320px) / 1600));
  font-weight: 900;
  text-transform: uppercase;

  top: 60px;
  left: 120px;
}

.profile-content {
  height: 100%;
  padding: 120px;
  padding-right: calc(20px + 100 * ((100vw - 320px) / 1600));
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile .content-img {
  position: relative;
  width: 40%;
}

.profile .content-img img {
  width: 100%;
  height: auto;
}

.profile .content-img span {
  position: absolute;

  font-size: calc(13px + 7 * ((100vw - 320px) / 1600));
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);

  bottom: 10%;
  left: 35%;

  z-index: 111;
}

.profile-info {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-info .user {
  width: 100%;
  text-align: center;
}

.profile-info .user span {
  display: block;
}

.profile-info .user-name {
  font-size: calc(24px + 24 * ((100vw - 320px) / 1600));
  font-weight: 900;
  text-transform: uppercase;
}

.profile-info .user-id {
  font-size: calc(12px + 8 * ((100vw - 320px) / 1600));
  font-weight: 900;
  text-transform: uppercase;

  color: rgb(255, 255, 255);
  opacity: .68;
}

.profile-info .wallet-title {
  display: block;
  padding-bottom: calc(6px + 29 * ((100vw - 320px) / 1600));

  font-size: calc(18px + 18 * ((100vw - 320px) / 1600));
  font-weight: 900;
  color: rgb(200, 0, 0);
}

.profile-info .wallet-inner {
  display: flex;
  column-gap: calc(17px + 10 * ((100vw - 320px) / 1600));
  align-items: center;

  font-size: calc(14px + 10 * ((100vw - 320px) / 1600));
  font-weight: 300;
}

.profile-info .wallet-inner img {
  width: calc(18px + 8 * ((100vw - 320px) / 1600));
  height: calc(18px + 8 * ((100vw - 320px) / 1600));
}

.profile-skills .title {
  display: block;
  padding-bottom: calc(6px + 29 * ((100vw - 320px) / 1600));

  font-size: calc(18px + 18 * ((100vw - 320px) / 1600));
  font-weight: 900;
  color: rgb(200, 0, 0);
}

.profile-skills .inner {
  display: flex;
  flex-direction: column;
  row-gap: calc(8px + 10 * ((100vw - 320px) / 1600));
}

.profile-skills .inner-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-skills .inner-item-wrapper {
  display: flex;
  column-gap: calc(17px + 10 * ((100vw - 320px) / 1600));
  align-items: center;

  font-size: calc(14px + 10 * ((100vw - 320px) / 1600));
  font-weight: 300;
}

.profile-skills .inner-item-wrapper img {
  width: calc(18px + 8 * ((100vw - 320px) / 1600));
  height: calc(18px + 8 * ((100vw - 320px) / 1600));
}

.profile-skills .inner-item .value {
  display: block;

  font-size: calc(14px + 10 * ((100vw - 320px) / 1600));
  font-weight: 900;
}

.profile-inner .logout {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: calc(6px + 6 * ((100vw - 320px) / 1600));

  background: none;
  cursor: pointer;

  right: 120px;
  bottom: 60px;

  z-index: 111;
}

.profile-inner .logout span {
  font-size: calc(12px + 8 * ((100vw - 320px) / 1600));
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
  text-transform: unset;
}

.profile-inner .logout img {
  width: calc(16px + 21 * ((100vw - 320px) / 1600));
  height: calc(16px + 21 * ((100vw - 320px) / 1600));
}

@media (max-width: 1024px) {
  .profile-content {
    justify-content: space-between;
  }

  .profile .logout {
    right: calc(20px + 100 * ((100vw - 320px) / 1600));
  }

  .profile .content-img {
    width: 45%;
  }

  .profile-info {
    width: 40%;
  }
}

@media (max-width: 615px) {
  .profile-title {
    display: none;
  }

  .profile .header {
    padding-top: 24px;
    padding-right: calc(10px + 110 * ((100vw - 320px) / 295));
    padding-left: calc(10px + 110 * ((100vw - 320px) / 295));
    position: absolute;

    top: 0;
    left: 0;

    z-index: 11111;
  }

  .profile .header .logo {
    position: static;

    z-index: 111111;
  }

  .profile .header .burger {
    display: block;

    z-index: 111111;
  }

  .profile .panel-links {
    width: 320px;
    height: 100%;
    align-items: start;
    overflow: hidden;

    box-shadow: none;

    transform: translateX(-100%);

    transition: transform .5s ease-in-out;

    z-index: 111;
  }

  .profile .panel-links::before {
    content: '';
    display: block;
    width: 60%;
    height: 120%;
    position: absolute;

    background-image: url('../img/panel_links_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    right: -30%;
    bottom: -15%;

    z-index: 1;

    transform: translateX(0);
  }

  .profile .panel-links.active {
    transform: translateX(0);
  }

  .profile .panel-links .link span {
    display: block;
  }

  .profile-content {
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-top: 85px;
    padding-right: calc(10px + 110 * ((100vw - 320px) / 295));
    padding-bottom: 0;
    padding-left: calc(10px + 110 * ((100vw - 320px) / 295));
  }

  .profile-info {
    width: 100%;
  }

  .profile .content-img {
    margin: 20px 0;
  }

  .profile .content-img span {
    width: 220px;

    left: 55%;
    bottom: 20%;
  }

  .profile-info .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile-info .logout {
    position: static;
  }

  .profile-info .user-id {
    font-weight: 500;
  }
}

/* Storage */
.storage,
.delivery {
  width: 100vw;
  height: 100vh;
  position: relative;

  background-image: url('../img/storage/bg.png'), linear-gradient(rgb(24, 24, 29), rgb(24, 24, 29));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.storage-content,
.delivery-content {
  width: 100%;
  height: 100%;
  padding: 58px 120px;
}

.storage-title,
.delivery-title {
  display: block;
  padding-bottom: 48px;

  font-size: calc(24px + 40 * ((100vw - 320px) / 1600));
  font-weight: 900;
  text-transform: uppercase;
}

.storage-info,
.delivery-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.storage-info .wallet,
.delivery-info .wallet,
.storage-info .count,
.delivery-info .count {
  display: flex;
  column-gap: calc(5px + 5 * ((100vw - 320px) / 1600));
  align-items: center;

  font-size: calc(14px + 10 * ((100vw - 320px) / 1600));
  font-weight: 300;
}

.storage-wrapper,
.delivery-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(300px + 335 * ((100vh - 630px) / 387));
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 35px;
  column-gap: 35px;
}

.storage-wrapper::-webkit-scrollbar,
.delivery-wrapper::-webkit-scrollbar {
  width: 0;
}

.storage-item,
.delivery-item {
  width: 300px;
  height: 281px;
  position: relative;
}

.storage-item-info,
.delivery-item-info {
  width: 100%;
  padding: 16px 11px;

  background-color: rgb(41, 41, 48);

  bottom: 0;
  left: 0;
}

.storage-item-title,
.delivery-item-title {
  display: block;
  padding-bottom: 12px;

  font-size: 12px;
  font-weight: 700;
}

.storage-item-info-bar,
.delivery-item-info-bar {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storage-item-info-bar div,
.delivery-item-info-bar div {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.storage-item-more button,
.delivery-item-more button {
  background: none;
}

.storage-item-more .show-more,
.delivery-item-more .show-more {
  position: absolute;
  width: 20px;

  cursor: pointer;
  opacity: .5;

  bottom: 28px;
  right: 11px;

  transition: opacity .3s linear;
}

.storage-item-more .show-more:hover,
.delivery-item-more .show-more:hover {
  opacity: 1;
}

.storage-item-more-content,
.delivery-item-more-content {
  display: none;
  position: absolute;
  width: 218px;

  background-color: rgb(41, 41, 48);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  bottom: 28px;
  left: 15%;
}

.storage-item-more-content.active,
.delivery-item-more-content.active {
  display: block;
}

.storage-item-more-content button,
.delivery-item-more-content button {
  width: 100%;
  padding: 12px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  transition: background .3s linear;
}

.storage-item-more-content button:hover,
.delivery-item-more-content button:hover {
  background-color: rgb(200, 0, 0);
}

.storage-item-more-content button .title,
.delivery-item-more-content button .title {
  display: block;

  font-size: 12px;
  font-weight: 300;
  text-transform: unset;
}

.storage-item-more-content button .wrapper,
.delivery-item-more-content button .wrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.storage-item-more-content button .wrapper span,
.delivery-item-more-content button .wrapper span {
  font-size: 12px;
  font-weight: 700;
}

@media (max-width: 1910px) {

  .storage-wrapper,
  .delivery-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1570px) {

  .storage-wrapper,
  .delivery-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1230px) {

  .storage-wrapper,
  .delivery-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 890px) {

  .storage .header,
  .delivery .header {
    padding-top: 24px;
    position: absolute;

    top: 0;
    left: 0;

    z-index: 11111;
  }

  .storage .header .logo,
  .delivery .header .logo {
    position: static;

    z-index: 11111;
  }

  .storage .header .burger,
  .delivery .header .burger {
    display: block;

    z-index: 11111;
  }

  .storage .panel-links,
  .delivery .panel-links {
    width: 320px;
    height: 100%;
    align-items: start;
    overflow: hidden;

    box-shadow: none;

    transform: translateX(-100%);

    transition: transform .5s ease-in-out;

    z-index: 111;
  }

  .storage .panel-links::before,
  .delivery .panel-links::before {
    content: '';
    display: block;
    width: 60%;
    height: 120%;
    position: absolute;

    background-image: url('../img/panel_links_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    right: -30%;
    bottom: -15%;

    z-index: 1;

    transform: translateX(0);
  }

  .storage .panel-links.active,
  .delivery .panel-links.active {
    transform: translateX(0);
  }

  .storage .panel-links .link span,
  .delivery .panel-links .link span {
    display: block;
  }

  .storage-content,
  .delivery-content {
    padding: 80px 10px 0 10px;
  }

  .storage-title,
  .delivery-title {
    display: none;
  }

  .storage-info,
  .delivery-info {
    width: auto;
    column-gap: 12px;
    position: absolute;

    opacity: 0.8;

    top: 36px;
    left: 50%;

    transform: translateX(-50%);

    z-index: 1;
  }

  .storage-wrapper,
  .delivery-wrapper {
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}

@media (max-width: 550px) {

  .shop .panel-links,
  .profile .panel-links,
  .storage .panel-links,
  .delivery .panel-links {
    width: 100%;
  }
}